@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400&family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

header {
    background: url('./images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
}

header .hamburger {
    text-align: center;
}

header .hamburger i{
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: -135%;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    transition: all .5s ease-in-out;
}

.close {
    font-size: 40px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
}

.navbar ul {
    height: 100%;
    width: 35vw;
    background: #2c3e50;
    flex-flow: column;
    justify-content: center;
    position: relative;
}

.navbar ul li {
    padding: 2rem;
}

.navbar ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    color: gray;
}

.active {
    left: 0;
}

.blue-center {
    position: absolute;
    bottom: 200px;
    /* border: solid blue; */
}

header .about {
    width: 80%;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.about h1 {
    flex-basis: 25%;
    font-weight: 700;
    font-family: 'Playfair display', sans-serif;
    font-size: 100px;
    color: #fff;
    align-self: center;
}

.about-text {
    flex-basis: 70%;
    text-align: left;
    background: #fff;
    color: #000;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 50px 30px;
}

.about-text p {
    font-size: 20px;
    line-height: 30px;
}

.pink {
    background: #D9B1B3;
}

.texts-only {
    padding-top: 100px;
}

.texts-container {
    width: 70%;
    margin: 10px auto;
    padding-bottom: 200px;
    color: #fff;
}

h2 span {
    font-size: 72px;
    font-family: 'Playfair display', sans-serif;
    font-weight: 700;
}

.texts-container h2 {
    font-size: 30px;
    font-family: 'Playfair display', sans-serif;
    font-weight: 700;
    padding-bottom: 50px;
}

.texts-container p {
    font-family: 'Open sans', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 0;
    margin-top: -10px;
}

.gallery img {
    width: 100%;
    height: 570px;
    object-fit: cover;
}

.coming-soon-container {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
}

.coming-soon-container p {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
}

.form-bag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-bag input {
    padding: 12px 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    min-width: 15%;
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    text-transform: uppercase;
    background: #000;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 10px 35px;
    letter-spacing: 2px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.article {
    padding: 50px 150px;
}

.article-left-col {
    flex-basis: 35%;
}

.article-left-col img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.article-right-col {
    flex-basis: 60%;
}

.article-right-col p {
    font-size: 20px;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 50px;
}

.article-right-col img {
    width: 350px;
}

.slide-container {
    padding: 40px 150px;
    text-align: center;
    color: #fff;
}

.slide-container i {
    font-size: 50px;
    padding: 30px;
}

.slide {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: .7rem;
}

.slide img {
    width: 100%;
    height: 469px;
    object-fit: cover;
}

.products-container {
    padding: 50px 150px;
}

.product-image {
    flex-basis: 55%;
    display: flex;
    justify-content: space-around;
}

.product-info {
    flex-basis: 40%;
}

.product-info h3 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding-bottom: 30px;
}

.product-info h4 {
    font-size: 30px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

.product-info p {
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.product-image {
    display: flex;
    flex-wrap: wrap;
}

.product-image img {
    width: 350px;
    height: 400px;
    object-fit: cover;
}

.subscribe {
    padding-top: 20px;
}

.subscribe-left-col {
    flex-basis: 50%;
}

.subscribe-left-col img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.subscribe-right-col {
    flex-basis: 50%;
    text-align: center;
}

.subscribe-right-col .wrapper {
    width: 90%;
    margin: 0 auto;
}

.coming-soon-container h2, .slide-container h2{
    font-weight: 700;
    font-size: 48px;
    font-family: 'Playfair display', sans-serif;
    padding-bottom: 30px;
}

.wrapper hr {
    border: 5px solid #D9B1B3;
}

.wrapper h2 {
    color: #000;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Playfair display', sans-serif;
    padding-top: 30px;
    padding-bottom: 80px;
}

.wrapper .input-group {
    width: 100%;
    padding-bottom: 20px;
}

.wrapper .input-group input {
    padding: 15px 15px;
    width: 47%;
    margin-right: 10px;
    border: 1px solid #111;
}

.wrapper p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

.socials i {
    font-size: 30px;
    margin: 10px;
}


@media only screen and (max-width: 1350px){
    .about h1 {
        font-size: 80px;
    }

    .about {
        min-width: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .flex, .about {
        flex-direction: column;
    }

    .article, .slide-container, .products-container {
        padding: 20px;
    }

    h1 {
        margin-bottom: 15px;
    }

    /* header .about {
        margin: 200px auto 0;
    } */

    .texts-container {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 700px){
    .about-text {
        padding: 15px;
    }

    .about-text p {
        font-size: 12px;
    }

    .texts-container p, .coming-soon-container p,
    .article-right-col p, .product-info p, 
    .wrapper p {
        font-size: 14px;
    }

}

@media only screen and (max-width: 500px) {
    .coming-soon-container {
        padding: 20px;
    }

    .navbar ul {
        width: 65vw;
    }

    .texts-container h2 {
        font-size: 24px;
    }
}


@media only screen and (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .article-right-col img {
        width: 200px;
    }

    .product-image img {
        width: 280px;
    }

    .wrapper .input-group input {
        width: 100%;
        margin-top: 10px;
    }

    .form-bag input {
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
    .slide {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}









